body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f7fb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #3b82f6;
  color: white;
  border: none;
  cursor: pointer;
}

/*Kanban Board styles*/
.board {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.column {
  background: #f1f1f1;
  padding: 10px;
  width: 30%;
}

.task {
  background: white;
  padding: 8px;
  margin-top: 10px;
}
